body {
  font-family: "Helvetica";
  text-align: center;
  font-size: 18px;
}
.intro {
    background-image: url(../photos/the-flatiron-building.png);
    color:white;
}
h1  {
  font-size: 70px;
  font-weight: bold;
}
h2 {
  font-weight: bold;
  font-size: 32px;
}
h3 {
  font-size: 23px;
  font-weight: bold;
}
p {
  font-size: 14px;
}
